# **Python Programming Basics**

##1. Write a Python program that prints "Hello World!" to the console.

In [1]:
print("Hello World!")

Hello World!

##2. Create variables to store your name, age and favorite hobby. Print these variables.

In [6]:
name = "Tamanna Sharma"
age = 24
hobby = "Coding"

print("My name is",name,"My age is ",age,"and my hobby is",hobby)

My name is Tamanna Sharma My age is  24 and my hobby is Coding

##3. Add comments to your code explaining what each line does.

In [7]:
# This is a single line comment.
print("HEllo, world!")

#This is a comment
#just written in
#more than one line

HEllo, world!

##4. Write a Python program that takes an integer input from the user, and prints whether the number is +ve, -ve or zero.

In [8]:
n = int(input("Enter a number:"))
if n >0:
  print(n,"is a positive number.")
elif n<0:
  print(n,"is a negative number.")
else:
  print(n,"is zero.")

Enter a number:-3
-3 is a negative number.

##5. Create a program to check if the given year is leap year not.

In [10]:
year = int(input("Enter an year: "))

# Utilizing Python If-else shorthand
print(year,"is a Leap year") if (year%4==0 and year%100!=0) or (year%400 == 0) else print(year,"is not a leap year.")

Enter an year: 1945
1945 is not a leap year.

##6. Write a program to print first 10 natural numbers using 'for' loop.

In [11]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## 7. Write a program that prints the multiplication table of a given number using a 'while' loop.

In [14]:
n = int(input("Enter a number:"))
i=1
while i<=10:
  print(n,"x",i,"=",n*i)
  i= i+1

Enter a number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

##8. Write a program that itrates through numbers 1 to 10 and prints each number. Use continue statement ro skip numbers divisible by 3.

In [23]:
i=0
while i<10:
  i=i+1
  if i%3==0:
    continue
  print(i)

1
2
4
5
7
8
10

##9. Create a program that stops printing numbers when it encounters a number greater than 5 using the break statement.

In [24]:
for i in range(10):
  if i>5:
    break
  print(i)

0
1
2
3
4
5

##10. Define a function named *greet* that takes a name as an argument and prints "Hello, [name]".

In [28]:
def greet(name):
  print("Hello,",name)

greet("Tamanna") #Function call

Hello, Tamanna

##11. Create a function that takes two numbers as arguments and returns their sum.

In [29]:
def SUM(x,y):
  return x+y

x = int(input("Enter first number:"))
y = int(input("Enter second number:"))
print(x,'+',y,'=',SUM(x,y))

Enter first number:55
Enter second number:45
55 + 45 = 100